<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>cnam.tp.servlet.Authentification</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>cnam.tp.servlet.FileServlet</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/carte</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>cnam.tp.servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
